<!-- index.html -->

{% extends 'core/base.html' %}
    
{% block contenido %}

    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title">Crear Libro</h2>
            <div class="d-flex justify-content-center gap-4">
                <a class="btn btn-primary w-50" href="{% url 'producto:libro_form' %}">Crear Libro</a>
                <a class="btn btn-primary w-50" href="{% url 'producto:libroedit_list' %}">Ver Libros</a>
            </div>
        </div>
    </div>

{% endblock contenido %}

