{% extends "core/base.html" %}
{% load static %}


{% block contenido %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Medina Editorial</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">En busqueda del conocimiento</h2>
                <a class="btn btn-primary" href="#about">Empecemos</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Medina Editorial</h2>
                <p class="text-white-50">
                    Somos una comunidad que busca hacer llegar el conocimiento del Islam a los Hispano parlantes.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="{% static 'core/assets/img/Logo.jpg' %}" alt="..." />
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'core/assets/img/biblo.jpg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Obras Clasicas</h4>
                    <p class="text-black-50 mb-0">Podras encontrar la traduccion de la grandes Obras Clasicas Islamicas.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'core/assets/img/La_Meca.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Meca</h4>
                            <p class="mb-0 text-white-50"> La Kaaba es considerada el lugar más sagrado del Islam y es el punto focal de la peregrinación anual conocida como Hajj, así como también de la peregrinación menor llamada Umrah.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'core/assets/img/8-107_medina_mosque.jpg' %}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Medina</h4>
                            <p class="mb-0 text-white-50">Medina, también conocida como Medina Munawwara (Medina la Luminosa), es una de las ciudades más importantes para los musulmanes en el contexto islámico. Es el segundo lugar más sagrado del Islam después de La Meca. Medina es conocida por varios eventos históricos y religiosos significativos y es donde esta enterrado el Sagrado Profeta Muhammad (صلى الله عليه وسلم)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Suscribete para recibir las ultimas novedades!</h2>
                <form class="form-signup" action="{% url 'core:suscribir' %}" method="post">
                    {% csrf_token %}
                    <!-- Email address input-->
                    <div class="row input-group-newsletter">
                        <div class="col"><input class="form-control" id="emailAddress" name="email" type="email" placeholder="Ingrese su email..." aria-label="Ingrese su email.." data-sb-validations="required,email" /></div>
                        <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Subscribirme!</button></div>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">Se requiere un email.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">El Email proporsionado es invalido.</div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Direccion</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">200 Av.Argentina, Neuquen, Argentina</div>
                    </div>
                </div> 
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">medinaeditorial@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Telefono</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+54 (299) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
{% endblock contenido %}
